<div><h2>Lista de prendas</h2></div>
<ul>{{#each products}}
<li>
<h3>{{title}}</h3>
<p>id:{{id}}</p>
<p>{{description}}</p>
precio:{{price}}
stock:{{stock}}
categoria:{{category}}
codigo:{{code}}
thumbnail:{{image}}
</li>
{{/each}}
</ul>