<div id="">
  <form id="form" action="/api/products" method="post">
    <div style="margin-left: 20px;">
      <div>
        <div><input
            style="margin-top: 10px"
            type="text"
            placeholder="Ingrese Título"
            value=""
            name="title"
            required
          /></div>
        <div><input
            style="margin-top: 10px"
            type="text"
            placeholder="Ingrese Descripción"
            value=""
            name="description"
            required
          /></div>
      </div>
      <div class="row">
        <div><input
            style="margin-top: 10px"
            type="code"
            placeholder="Ingrese Código"
            value=""
            name="code"
            required
          /></div>
        <div><input
            style="margin-top: 10px"
            type="number"
            placeholder="Ingrese Precio"
            value=""
            name="price"
            required
          /></div>
        <div><input
            style="margin-top: 10px"
            type="number"
            placeholder="Ingrese Stock"
            value=""
            name="stock"
            required
          /></div>
      </div>
      <div class="row">
        <div><input
            style="margin-top: 10px"
            type="text"
            placeholder="Ingrese URL de la imagen"
            name="thumbnail"
            required
          /></div>
      </div>
      <button style="margin-top: 10px" type="submit">Guardar</button>
    </div>
  </form>
  <form id="deleteForm" action="/api/products" method="delete">
    <div style="margin-left: 20px;">
      <div>
        <div><input
            type="text"
            style="margin-top: 10px;"
            placeholder="Ingrese ID del producto a ELIMINAR"
            name="id"
          /></div>
        <div><button type="submit">Eliminar</button></div>
      </div>
    </div>
  </form>
  <h1>LISTADO DE PRODUCTOS</h1>
  <div>
    {{#each prods}}
      <div style="width: 14rem; margin-top: 5px;">
        <div style="margin-top: 10px; width:200px; height:200px;">
          <img
            src={{this.thumbnail}}
            class="card-img-top"
            alt="foto de Product {{this.id}}"
          />
        </div>
        <div class="card-body">
          <h3 class="card-title">{{this.title}}</h3>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">$ {{this.price}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="public/js/index.js"></script>